<html>
  <head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='{{ url_for("static",filename="styles/styles.css") }}'>

    <title id='title'>py.ongyang's blog</title>
    
  </head>
  <body>
    <div id = 'toparea'><h1 style='user-select: none;'>py.ongyang</h1></div>
    <div id = 'bottomarea'>
      <div id = 'content'>
        <h1>:'(</h1>
        <h2>There was an error during the previous process.</h2>
        <p>No page exists here. If you believe this is an error, contact us at pyoy0@outlook.com. <a href='/blog/'>Check out our blogs!</a></p>
      </div>
    </div>
    <div id = 'footer'>
      <p>About py.ongyang: py.ongyang is a blog created November 16, 2018 and was uploaded the very next day.</p>
      <p>Contact us: pyoy0@outlook.com</p>
    </div>
  </body>
</html>
